<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">
    <div class="container pr-0">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="{{ .Site.BaseURL }}/">

            {{ with .Site.Params.logo }}
            <img src="{{ . | urlize | relURL }}" alt="logo">
            {{ else }}
            <span style="font-family:Righteous;">{{.Site.Title}}</span>
            {{ end }}
        </a>
        <!-- End Logo -->
    </div>
</nav>
<!-- End Navigation
================================================== -->
